@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media screen and (max-width: 769px) {
    .Head-Link {
        font-size: 0.7rem;
    }

    #a-propos {
        margin: 0;
        flex-direction: column;
    }

    .a-propos-title {
        width: 100% !important;
        padding: 10px;
    } 

    .img-Apropos {
    margin-left: auto;
    margin-right: auto;
  }
} 

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
